body {
    font-family: 'Arial', sans-serif;
    background-color: #a6cce4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.profile-area {
    display: flex;
    align-items: center;
}

.profile-area img {
    border-radius: 0;
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.intro-text {
    background-color: #f9f9f9;
    padding: 15px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

header nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header nav button:hover {
    background-color: #555;
}

.resume-container {
    width: 100%;
    padding: 20px 0;
}

.skills-interests {
    background-color: #f9f9f9;
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto; 
    align-self: right; 
}

.qualifications-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.resume-container, .skills-interests {
    flex: 1; 
    margin: 10px;
}

 .event {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} 

.qualifications-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start; 
}

.event {
    flex: 1;
    margin: 10px; 
    max-width: calc(33% - 20px); 
}


.interest-description {
    font-size: 0.9em; 
    color: #666;
}
